* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #383838;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  padding: 50px 0;
}

.main_header,
.main_body,
.main_contacts {
  padding: 0 50px;
}

.main_header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #eee8d5;
  border-radius: 15px;
  margin-bottom: 10px;
}

.main_header_avatar {
  margin-right: 20px;
}

.main_header_avatar img {
  width: 250px;
  border-radius: 1000px;
}

.main_header_info {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #9c7712;
}

.main_header_info_name {
  font-weight: 600;
  font-size: 30px;
}

.main_header_info_occupation {
  font-weight: 400;
  font-size: 16px;
}

.main_body {
  display: flex;
  flex-direction: column;
}

.main_body_heading {
  display: block;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.main_body > div {
  padding: 20px 0;
}

.main_body_summary,
.main_body_skills {
  border-bottom: 1px solid #9c7712;
}

.main_body_summary {
  /* background: #000; */
  display: flex;
  flex-direction: column;
}

.main_body_summary_text {
  font-size: 16px;
  padding: 0 10px;
}

.main_body_skills_lists {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 30px;
}

.main_body_skills_lists > ul {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.main_body_study {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main_body_courses,
.main_body_education {
  width: 50%;
}

.main_body_courses_list,
.main_body_education_list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  max-height: 300px;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 20px;
}

.main_body_course,
.main_body_education_item {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.course_date,
.course_company,
.education_date {
  font-weight: 600;
}

.main_body_education_item {
  max-width: 350px;
}

.main_contacts {
  background: #eee8d5;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_contacts_heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.main_contacts_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
